
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Decision recorded
            </h1>
            <div class="govuk-panel__body">
              Outcome<br><strong>Not authorised</strong>
            </div>
          </div>
          <p class="govuk-body">You have not authorised James Coles to be an appointee for Jennifer Coles.</p>
          <p class="govuk-body">
          <p class="govuk-body">
            <a href="/appointee/iteration-12/searchlight/customer-2/authorised-index" class="govuk-link">Back to Searchlight home</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
