.background {
  .search {
    display: block;
    margin: -50px -210px 0;
    background-image: url("/public/images/search.png");
    height: 1380px;
    .govuk-input {
      margin-top: 210px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1320px;
      left: 295px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //background-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 50px;
      text-decoration: none;
      float: left;
      margin-top: 210px;
      margin-left: 5px;
    }
  }
}
.header {
  background-image: url("/public/images/header.png");
  display: block;
  height: 247px;
  width: 1384px;
  position: fixed;
  z-index: 1;
  top: 0px;
  margin-left: -210px;
  a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 50px;
    width: 120px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 180px;
    left: 530px;
  }
  p.name, p.nino {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: bold;
    position: absolute;
  }
  .name {
    font-size: 2.90em;
    top: 69px;
    left: 38px;
  }
  .nino {
    font-size: 1.05em;
    top: 133px;
    left: 38px;
  }
  .banner {
    background-color: #DAECF7;
    padding: 15px;
    position: absolute;
    top: 90px;
    right: 38px;

    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    p {
      color: #48829D;
      font-size: 0.99em;
      margin: 0;
      a {
        color: #48829D;
      }
    }
  }
}
.background {
  a.appointee-link {
    font-size: 19px;
  }
  .result {
    background-image: url("/public/images/result.png");
    height: 2938px;
    width: 1384px;
  }
  .result-template {
    background-image: url("/public/images/result-template.png");
    height: 3068px;
    width: 1384px;
  }
  .result, .result-template {
    display: block;
    position: absolute;
    z-index: 0;
    margin: 0 -210px;
    top: 247px;
    //background-image: url("/public/images/result-data.png");
    //background-color: red;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 3000px;
      left: 143px;
    }
    .relationships-box{
      position: absolute;
      margin-top: 1900px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 2280px;
      right: 68px;
      //margin-left: 1038px;
    }
    p {
      position: absolute;
      font-size: 1.11em;
      font-weight: bold;
    }
    .personal-details {
      position: absolute;
      left: 426px;
      width: 500px;
    }
    .name {
      text-transform: uppercase;
      top: 139px;
    }
    .dob {
      top: 234px;
    }
    .nino {
      top: 330px;
    }
    .gender {
      top: 425px;
    }
    .address {
      position: absolute;
      width: 500px;
      left: 494px;
    }
    .correspondence-line-1 {
      top: 708px;
    }
    .correspondence-line-2 {
      top: 735px;
    }
    .correspondence-line-3 {
      top: 763px;
    }
    .correspondence-postcode {
      top: 790px;
    }
    .correspondence-country {
      top: 817px;
    }
    .residential-line-1 {
      top: 917px;
    }
    .residential-line-2 {
      top: 944px;
    }
    .residential-line-3 {
      top: 971px;
    }
    .residential-postcode {
      top: 999px;
    }
    .residential-country {
      top: 1026px;
    }
    .number-mobile {
      top: 1319px;
    }
    .number-home {
      top: 1388px;
    }

    // Result information
    .relationship-information {
      position: absolute;
      top: 2310px;
      left: 67px;
      p {
        font-weight: normal;
      }
      .start, .date {
        display: inline;
      }
      .rel, .app, .type-answer, .status, .status-inverse  {
        display: inline;
        left: 300px;
      }
      .type {
        display: inline;
        left: 500px;
      }
      .maintenance {
        display: inline;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        margin-top: 35px;
        border: 1px solid $govuk-border-colour;
        width: 1250px;
      }
      .date, .app {
        top: 50px;
      }
      .type-answer, .status-inverse {
        top: 80px;
      }
      .status {
        top: 110px;
      }

      a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active {
        top: 50px;
        right: 0px;
      }
    }
  }
  .relationships {
    position: absolute;
    background-image: url("/public/images/relationships.png");
    height: 1047px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 980px;
      left: 143px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 85px;
      right: 68px;
    }
  }
  .verified {
    position: absolute;
    background-image: url("/public/images/verified.png");
    height: 1181px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1120px;
      left: 142px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 45px;
      right: 0px;
    }
    .relationship-information {
      position: absolute;
      top: 430px;
      left: 62px;
      .start, .date {
        display: inline;
      }
      .rel, .app {
        display: inline;
        position: absolute;
        left: 300px;
      }
      .type, .type-answer {
        display: inline;
        position: absolute;
        left: 500px;
      }
      .maintenance {
        display: inline;
        position: absolute;
        right: 0px;
      }
      .change {
        position: absolute;
        right: 0px;
        top: 80px;
      }
      hr {
        border: 1px solid $govuk-border-colour;
        width: 1250px;
      }
    }
  }
  .relationships, .verified {
    .head-info {
      display: block;
      width: 1000px;
      position: absolute;
      left: 0px;
        p {
          text-transform: uppercase;
          color: govuk-colour("white");
          font-weight: bold;
          position: absolute;
        }
        .name {
          font-size: 2.90em;
          top: 69px;
          left: 38px;
        }
        .nino {
          font-size: 1.05em;
          top: 133px;
          left: 38px;
        }
      }
    a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
      //background-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 120px;
      text-decoration: none;
      float: left;
      margin-top: 180px;
      margin-left: 530px;
    }
  }
}

//ITERATION 9 & BEYOND: HAVE NEW SCREENSHOTS TO MATCH UI CHANGES ON SEARCHLIGHT 

.newbackground {
  .search {
    display: block;
    margin: -60px -510px 0px;
    background-image: url("/public/images/newsearch.png");
    height: 1750px;
    .govuk-input {
      margin-top: 302px;
      margin-left: 294px;
      width: 640px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 150px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 302px;
      margin-left: 0px;
    }
  }
}


.newheader {
  background-image: url("/public/images/newheader.png");
  display: block;
  height: 310px;
  width: 2005px;
  position: fixed;
  z-index: 2;
  top: 0px;
  margin: -10px -505px 0px;
  a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 50px;
    width: 140px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 230px;
    left: 730px;
  }
  a.searchlight-tab:link, a.searchlight-tab:visited, a.searchlight-tab:hover, a.searchlight-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 58px;
    width: 270px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 5px;
    left: 80px;
  }
  p.name {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: bold;
    position: absolute;
  }

  p.nino {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: light;
    position: absolute;
  }
  .name {
    font-size: 1.875em;
    top: 145px;
    left: 100px;
  }
  .nino {
    font-size: 1.25em;
    top: 185px;
    left: 100px;
  }
  .banner {
    background-color: #DAECF7;
    padding: 15px;
    position: absolute;
    top: 155px;
    right: 38px;

    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    p {
      color: #48829D;
      font-size: 0.99em;
      margin: 0;
      a {
        color: #48829D;
      }
    }
  }
  .search {
    .govuk-input {
      margin-top: 12px;
      margin-left: 364px;
      width: 590px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 300px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 12px;
      margin-left: 0px;
    }
  }
}

.newbackground {
  a.appointee-link {
    font-size: 1.25em;
  }
  .result {
    background-image: url("/public/images/newresult.png");
    height: 2500px;
    width: 2010px;
  }
  .result-template {
    background-image: url("/public/images/newresult-template.png");
    height: 2700px;
    width: 2010px;
  }
  .result{
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 20px;
    }
  }

  .result-template{
    .housekeeping {
      position: absolute;
      top: 2650px;
      left: 20px;
    }
  }
  .result, .result-template {
    display: block;
    position: absolute;
    z-index: 0;
    margin:  30px -510px -0px;
    top: 247px;
    //background-image: url("/public/images/result-data.png");
    //background-color: red;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .relationships-box{
      position: absolute;
      margin-top: 1900px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 1780px;
      right: 70px;
      //margin-left: 1038px;
      //proposed journey
    }
    p {
      position: absolute;
      font-size: 1.25em;
      font-weight: bold;
    }
    .personal-details {
      position: absolute;
      left: 450px;
      width: 500px;
    }
    .name {
      text-transform: uppercase;
      top: 120px;
    }
    .dob {
      top: 185px;
    }
    .nino {
      top: 265px;
    }
    .gender {
      top: 350px;
    }
    .address {
      position: absolute;
      width: 500px;
      left: 494px;
    }
    .correspondence-line-1 {
      top: 718px;
    }
    .correspondence-line-2 {
      top: 745px;
    }
    .correspondence-line-3 {
      top: 773px;
    }
    .correspondence-postcode {
      top: 800px;
    }
    .correspondence-country {
      top: 827px;
    }

    .number-mobile {
      top: 1090px;
    }

    // Result information
    .relationship-information {
      position: absolute;
      top: 1925px;
      left: 155px;
      p {
        font-weight: normal;
        font-size: 1.25em;
      }
      .start, .date {
        display: inline;
      }
      .rel, .app, .type-answer, .status, .status-inverse  {
        display: inline;
        left: 300px;
      }
      .type {
        display: inline;
        left: 500px;
      }
      .maintenance {
        display: inline;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        margin-top: 35px;
        border: 1px solid white;
        width: 1250px;
      }
      .app {
        top: 45px;
        left: 370px;
      }
      .app1 {
        top: 40px;
        left: 370px;
      }
      .nino {
        top: 45px;
        left: 830px;
        color: #1d70b8
      }
      .nino1 {
        top: 45px;
        left: 720px;
        color: #1d70b8
      }
      .nino3 {
        top: 140px;
        left: 830px;
        color: #1d70b8
      }
      .type-answer, .status-inverse {
        top: 85px;
        left: 370px;
      }
      .benefit-type, .status-inverse {
        top: 125px;
        left: 370px;
      }
      .status {
        top: 160px;
        left: 370px;
        font-size: 1.25em;
      }
      .status1 {
        top: 175px;
        left: 370px;
        font-size: 1.25em;
      }
      a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active {
        top: 55px;
        right: -550px;
        font-size: 1.25em;
        
      }
    }
  }
  .relationships {
    position: absolute;
    background-image: url("/public/images/relationships.png");
    height: 1047px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 385px;
      right: 68px;
    }
  }
  .verified {
    position: absolute;
    background-image: url("/public/images/verified.png");
    height: 1181px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 45px;
      right: 0px;
    }
    .relationship-information {
      position: absolute;
      top: 300px;
      left: 62px;
      .start, .date {
        display: inline;
      }
      .rel, .app {
        display: inline;
        position: absolute;
        left: 300px;
      }
      .type, .type-answer {
        display: inline;
        position: absolute;
        left: 500px;
      }
      .maintenance {
        display: inline;
        position: absolute;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        border: 1px solid $govuk-border-colour;
        width: 1250px;
      }
    }
  }
  .relationships, .verified {
    .head-info {
      display: block;
      width: 1000px;
      position: absolute;
      left: 0px;
        p {
          text-transform: uppercase;
          color: govuk-colour("white");
          font-weight: bold;
          position: absolute;
        }
        .name {
          font-size: 2.90em;
          top: 69px;
          left: 38px;
        }
        .nino {
          font-size: 1.05em;
          top: 133px;
          left: 38px;
        }
      }
    a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
      //background-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 120px;
      text-decoration: none;
      float: left;
      margin-top: 180px;
      margin-left: 730px;
    }
  }
}

//ITERATION 11 & BEYOND: HAVE NEW SCREENSHOTS TO MATCH UI CHANGES ON SEARCHLIGHT 

.background11 {
  .search {
    display: block;
    margin: -80px -510px 0px;
    background-image: url("/public/images/newsearch.png");
    height: 1750px;
    .govuk-input {
      margin-top: 302px;
      margin-left: 294px;
      width: 640px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 300px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 302px;
      margin-left: 0px;
    }
  }
}

.newheader {
  background-image: url("/public/images/newheader.png");
  display: block;
  height: 310px;
  width: 2005px;
  position: fixed;
  z-index: 2;
  top: 0px;
  margin: -10px -505px 0px;
  a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 50px;
    width: 140px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 230px;
    left: 730px;
  }
  a.searchlight-tab:link, a.searchlight-tab:visited, a.searchlight-tab:hover, a.searchlight-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 58px;
    width: 270px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 5px;
    left: 80px;
  }
  p.name {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: bold;
    position: absolute;
  }

  p.nino {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: light;
    position: absolute;
  }
  .name {
    font-size: 1.875em;
    top: 145px;
    left: 100px;
  }
  .nino {
    font-size: 1.25em;
    top: 185px;
    left: 100px;
  }
  .banner {
    background-color: #DAECF7;
    padding: 15px;
    position: absolute;
    top: 155px;
    right: 38px;

    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    p {
      color: #48829D;
      font-size: 0.99em;
      margin: 0;
      a {
        color: #48829D;
      }
    }
  }
  .search {
    .govuk-input {
      margin-top: 12px;
      margin-left: 364px;
      width: 590px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 300px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 12px;
      margin-left: 0px;
    }
  }
}

.background11 {
  a.appointee-link {
    font-size: 1.25em;
  }
  .result {
    background-image: url("/public/images/background11.png");
    height: 2850px;
    width: 2000px;
  }
  .one-result {
    background-image: url("/public/images/one-result.png");
    height: 2600px;
    width: 2000px;
  }

  .result{
    .housekeeping {
      position: absolute;
      top: 2800px;
      left: 20px;
    }
  }

  .one-result{
    .housekeeping {
      position: absolute;
      top: 2550px;
      left: 20px;
    }
  }

  .result, .one-result {
    display: block;
    position: absolute;
    z-index: 0;
    margin:  80px -500px 0px;
    top: 247px;
    //background-image: url("/public/images/result-data.png");
    //background-color: red;
    .govuk-input {
      margin-top: 175px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .relationships-box{
      position: absolute;
      margin-top: 1700px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 1700px;
      right: 90px;
      //margin-left: 1038px;
      //proposed journey
    }

    a.change-link:link, a.change-link:visited, a.change-link:hover, a.change-link:active{
      position: absolute;
      top: 1780px;
      right: 90px;
      //margin-left: 1038px;
      //proposed journey
    }

    p {
      position: absolute;
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 5px;
    }
    .personal-details {
      position: absolute;
      left: 500px;
      width: 500px;
    }
    .name {
      text-transform: uppercase;
      top: 120px;
      color: black;
    }
    .dob {
      top: 185px;
    }
    .nino {
      top: 265px;
      color: black;
    }
    .gender {
      top: 350px;
    }
    .address {
      position: absolute;
      width: 500px;
      left: 494px;
    }
    .correspondence-line-1 {
      top: 718px;
    }
    .correspondence-line-2 {
      top: 745px;
    }
    .correspondence-line-3 {
      top: 773px;
    }
    .correspondence-postcode {
      top: 800px;
    }
    .correspondence-country {
      top: 827px;
    }

    .number-mobile {
      top: 1090px;
    }

    // Result information
    .relationship-information {
      position: absolute;
      top: 1865px;
      left: 140px;
      p {
        font-weight: normal;
        font-size: 1.25em;
      }
      .start, .date {
        display: inline;
      }

      .start1, .date1 {
        display: inline;
        margin-left: 45px;
        margin-top: -25px;
      }
      .rel, .app, .type-answer, .status, .status-inverse  {
        display: inline;
        left: 490px;
        top: 70px;
      }
      .type {
        display: inline;
        left: 500px;
      }
      .maintenance {
        display: inline;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        margin-top: 35px;
        border: 1px solid white;
        width: 1250px;
      }
      .app {
        top: 40px;
        left: 355px;
      }
      .app1 {
        top: 10px;
        left: 385px;
      }

      .nino {
        top: 45px;
        left: 830px;
        color: #1d70b8
      }
      .nino1 {
        top: 45px;
        left: 720px;
        color: #1d70b8
      }
      .nino2 {
        top: 140px;
        left: 830px;
        color: #1d70b8
      }
      .nino3 {
        top: 140px;
        left: 830px;
        color: #1d70b8
      }
      .type-answer, .status-inverse {
        top: 85px;
        left: 370px;
      }
      .benefit-type, .status-inverse {
        top: 125px;
        left: 370px;
      }
      .status {
        top: 70px;
        left: 355px;
        font-size: 1.25em;
      }
      .status1 {
        top: 40px;
        left: 385px;
        font-size: 1.25em;
      }
      .status2 {
        top: 40px;
        left: 385px;
        font-size: 1.25em;
      }

      a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active {
        top: -100px;
        right: -480px;
        font-size: 1.25em;
        
      }
      a.change-link:link, a.change-link:visited, a.change-link:hover, a.change-link:active {
        top: 45px;
        right: -490px;
        font-size: 1.25em;
        
      }

    }
    
  }
  .relationships {
    position: absolute;
    background-image: url("/public/images/relationships.png");
    height: 1047px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 385px;
      right: 68px;
    }
  }
  .verified {
    position: absolute;
    background-image: url("/public/images/verified.png");
    height: 1181px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 45px;
      right: 0px;
    }
    .relationship-information {
      position: absolute;
      top: 300px;
      left: 62px;
      .start, .date {
        display: inline;
      }
      .rel, .app {
        display: inline;
        position: absolute;
        left: 300px;
      }
      .type, .type-answer {
        display: inline;
        position: absolute;
        left: 500px;
      }
      .maintenance {
        display: inline;
        position: absolute;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        border: 1px solid $govuk-border-colour;
        width: 1250px;
      }
    }
  }
  .relationships, .verified {
    .head-info {
      display: block;
      width: 1000px;
      position: absolute;
      left: 0px;
        p {
          text-transform: uppercase;
          color: govuk-colour("white");
          font-weight: bold;
          position: absolute;
        }
        .name {
          font-size: 2.90em;
          top: 69px;
          left: 38px;
        }
        .nino {
          font-size: 1.05em;
          top: 133px;
          left: 38px;
        }
      }
    a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
      //background-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 120px;
      text-decoration: none;
      float: left;
      margin-top: 180px;
      margin-left: 730px;
    }
  }
}

//This is for background to show two results
//////
/// 
/// 
//ITERATION 11 & BEYOND: HAVE NEW SCREENSHOTS TO MATCH UI CHANGES ON SEARCHLIGHT 

.backgroundtwo {
  .search {
    display: block;
    margin: -60px -510px 0px;
    background-image: url("/public/images/newsearch.png");
    height: 1750px;
    .govuk-input {
      margin-top: 302px;
      margin-left: 294px;
      width: 640px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 300px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 302px;
      margin-left: 0px;
    }
  }
}

.newheader {
  background-image: url("/public/images/newheader.png");
  display: block;
  height: 310px;
  width: 2005px;
  position: fixed;
  z-index: 2;
  top: 0px;
  margin: -10px -505px 0px;
  a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 50px;
    width: 140px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 230px;
    left: 730px;
  }
  a.searchlight-tab:link, a.searchlight-tab:visited, a.searchlight-tab:hover, a.searchlight-tab:active {
    //background-image: url("/public/images/search-button.png");
    //background-color: govuk-colour("black");
    display: block;
    height: 58px;
    width: 270px;
    text-decoration: none;
    float: left;
    position: absolute;
    top: 5px;
    left: 80px;
  }
  p.name {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: bold;
    position: absolute;
  }

  p.nino {
    text-transform: uppercase;
    color: govuk-colour("white");
    font-weight: light;
    position: absolute;
  }
  .name {
    font-size: 1.875em;
    top: 145px;
    left: 100px;
  }
  .nino {
    font-size: 1.25em;
    top: 185px;
    left: 100px;
  }
  .banner {
    background-color: #DAECF7;
    padding: 15px;
    position: absolute;
    top: 155px;
    right: 38px;

    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    p {
      color: #48829D;
      font-size: 0.99em;
      margin: 0;
      a {
        color: #48829D;
      }
    }
  }
  .search {
    .govuk-input {
      margin-top: 12px;
      margin-left: 364px;
      width: 590px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 1700px;
      left: 300px;
    }
    a.search-button:link, a.search-button:visited, a.search-button:hover, a.search-button:active {
      //nbackground-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 60px;
      text-decoration: none;
      float: left;
      margin-top: 12px;
      margin-left: 0px;
    }
  }
}

.backgroundtwo {

  a.appointee-link {
    font-size: 1.25em;
  }
  .result {
    background-image: url("/public/images/two-results.png");
    height: 2850px;
    width: 2000px;
  }


  .result{
    .housekeeping {
      position: absolute;
      top: 2800px;
      left: 20px;
    }
  }


  .result {
    display: block;
    position: absolute;
    z-index: 0;
    margin:  80px -500px 0px;
    top: 247px;
    //background-image: url("/public/images/result-data.png");
    //background-color: red;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .relationships-box{
      position: absolute;
      margin-top: 1700px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 1700px;
      right: 90px;
      //margin-left: 1038px;
      //proposed journey
    }

    a.change-link:link, a.change-link:visited, a.change-link:hover, a.change-link:active{
      position: absolute;
      top: 1780px;
      right: 90px;
      //margin-left: 1038px;
      //proposed journey
    }

    p {
      position: absolute;
      font-size: 1.25em;
      font-weight: bold;
    }
    .personal-details {
      position: absolute;
      left: 450px;
      width: 500px;
    }
    .name {
      text-transform: uppercase;
      top: 120px;
    }
    .dob {
      top: 185px;
    }
    .nino {
      top: 265px;
    }
    .gender {
      top: 350px;
    }
    .address {
      position: absolute;
      width: 500px;
      left: 494px;
    }
    .correspondence-line-1 {
      top: 718px;
    }
    .correspondence-line-2 {
      top: 745px;
    }
    .correspondence-line-3 {
      top: 773px;
    }
    .correspondence-postcode {
      top: 800px;
    }
    .correspondence-country {
      top: 827px;
    }

    .number-mobile {
      top: 1090px;
    }

    // Result information
    .relationship-information {
      position: absolute;
      top: 1865px;
      left: -310px;
      p {
        font-weight: normal;
        font-size: 1.25em;
      }
      .start, .date {
        display: inline;
      }
      .rel, .app, .type-answer, .status, .status-inverse  {
        display: inline;
        left: 290px;
      }
      .type {
        display: inline;
        left: 500px;
      }
      .maintenance {
        display: inline;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        margin-top: 35px;
        border: 1px solid white;
        width: 1250px;
      }
      .app {
        top: -40px;
        left: 375px;
      }
      .app1 {
        top: 60px;
        left: 375px;
      }

      .nino {
        top: -40px;
        left: 820px;
        color: #1d70b8
      }
      .nino1 {
        top: 60px;
        left: 820px;
        color: #1d70b8
      }

      .type-answer, .status-inverse {
        top: 85px;
        left: 370px;
      }
      .benefit-type, .status-inverse {
        top: 125px;
        left: 370px;
      }
      .status {
        top: -5px;
        left: 375px;
        font-size: 1.25em;
      }
      .status1 {
        top: 90px;
        left: 375px;
        font-size: 1.25em;
      }


      a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active {
        top: -110px;
        right: -480px;
        font-size: 1.25em;
        
      }
      a.change-link:link, a.change-link:visited, a.change-link:hover, a.change-link:active {
        top: -40px;
        right: -450px;
        font-size: 1.25em;
        
      }

    }
    
  }
  .relationships {
    position: absolute;
    background-image: url("/public/images/relationships.png");
    height: 1047px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 385px;
      right: 68px;
    }
  }
  .verified {
    position: absolute;
    background-image: url("/public/images/verified.png");
    height: 1181px;
    width: 1384px;
    display: block;
    margin: -50px -210px 0;
    .govuk-input {
      margin-top: 165px;
      margin-left: 35px;
      width: 548px;
      height: 50px;
      border: 0px;
      float: left;
    }
    .housekeeping {
      position: absolute;
      top: 2450px;
      left: 85px;
    }
    a.appointee-link:link, a.appointee-link:visited, a.appointee-link:hover, a.appointee-link:active{
      position: absolute;
      top: 45px;
      right: 0px;
    }
    .relationship-information {
      position: absolute;
      top: 300px;
      left: 62px;
      .start, .date {
        display: inline;
      }
      .rel, .app {
        display: inline;
        position: absolute;
        left: 300px;
      }
      .type, .type-answer {
        display: inline;
        position: absolute;
        left: 500px;
      }
      .maintenance {
        display: inline;
        position: absolute;
        right: 0px;
      }
      .change {
        right: 0px;
        top: 80px;
      }
      hr {
        border: 1px solid $govuk-border-colour;
        width: 1250px;
      }
    }
  }
  .relationships, .verified {
    .head-info {
      display: block;
      width: 1000px;
      position: absolute;
      left: 0px;
        p {
          text-transform: uppercase;
          color: govuk-colour("white");
          font-weight: bold;
          position: absolute;
        }
        .name {
          font-size: 2.90em;
          top: 69px;
          left: 38px;
        }
        .nino {
          font-size: 1.05em;
          top: 133px;
          left: 38px;
        }
      }
    a.relationships-tab:link, a.relationships-tab:visited, a.relationships-tab:hover, a.relationships-tab:active {
      //background-image: url("/public/images/search-button.png");
      //background-color: govuk-colour("black");
      display: block;
      height: 50px;
      width: 120px;
      text-decoration: none;
      float: left;
      margin-top: 180px;
      margin-left: 730px;
    }
  }
}

.newbanner {
  background-image: url("/public/images/newbanner.png");
  display: block;
  height:70px;
  width: 2000px;
  position: absolute;
  z-index: 1;
  top: 300px;
  margin: -10px -500px 0px;
  .text {
    font-size: 1.25em;
    margin-left: 100px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  }


  .newbanner2 {
    background-image: url("/public/images/newbanner.png");
    display: block;
    height:70px;
    width: 2000px;
    position: absolute;
    z-index: 1;
    top: 300px;
    margin: -10px -500px 0px;
    .text {
      font-size: 1.25em;
      margin-left: 100px;
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    }
