
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Searchlight
{% endblock %}

{% block content %}

  <div class="newheader">
    <p class="name">Mr William Bucket</p>
    <p class="nino">WY151617B&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;23 Dec 1947</p>
    <a href="#relationships" class="relationships-tab">&nbsp;</a>
    <a href="/appointee/iteration-{{ data['iteration-number'] }}/" class="searchlight-tab">&nbsp;</a>
    <div class="search">
      <input class="govuk-input" id="event-name" name="event-name" type="text">
      <form class="form" method="post" novalidate>
        <a href="/appointee/searchlight/" class="search-button" onclick="this.closest('form').submit();return false;">&nbsp;</a>
      </form>
    </div>
  </div>
  <div class="newbanner">
  </div>
  <div class="background11">
    <div class="result">
      <div class="personal-details">
        <p class="name">Mr William Bucket</p>
        <p class="dob">23 Dec 1947</p>
        <p class="nino">WY151617B</p>
        <p class="gender">Male</p>
      </div>
      <div class="address">
        <p class="correspondence-line-1">13 Candy Lane</p>
        <p class="correspondence-line-2">Upper Hill</p>
        <p class="correspondence-line-3">Oxford</p>
        <p class="correspondence-postcode">OX3 0LN</p>
        <p class="correspondence-country">{{ data['customer-correspondence-country'] }}</p>
      </div>
      <div class="personal-details">
        <p class="number-mobile">07963768312</p>
      </div>
      <div id="relationships" class="relationships-box">&nbsp;</div>
      
      <div class="relationship-information">
        <hr />
        <p class="app1">Proposed appointee National Insurance number:&nbsp;<a href="/appointee/iteration-11/searchlight/appointee-2/not-authorised-appointee-1">LM181920C</a></p>
        <p class="status1"><img src="/public/images/cross.png" style="width: 15px;"> Not authorised</p>
        <form class="form" method="post" novalidate>
          <a href="#" class="appointee-link" onclick="this.closest('form').submit();return false;">Add an appointee</a>
        </form>
        <!-- p class="maintenance"><a href="#nogo">View maintenance</a></p>
        <p class="change"><a href="#nogo">Change</a></p -->
      </div>
      <p class="housekeeping"><a href="/appointee/iteration-{{ data['iteration-number'] }}/">Home</a> / <a href="javascript:history.go(-1)">Back</a></p>
    </div>
  </div>

{% endblock %}
