<script src="backbutton.js" type="text/javascript"></script>

{% extends "layout.html" %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/appointee/iteration-12/service/application-complete" class="govuk-header__link govuk-header__link--service-name">
        Add an appointee
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Proposed appointee added
            </h1>
          </div>
          <p class="govuk-body">You have added Charlie Bucket as a proposed appointee for William Bucket.</p>
          <p class="govuk-body">
          <p class="govuk-body">
            <a href="/appointee/iteration-12/searchlight/customer-2/proposed-index" class="govuk-link">Back to Searchlight</a>
          </p>
        </div>
      </div>
    </main>
  </div>
 
{% endblock %}