
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Searchlight
{% endblock %}

{% block content %}

  <div class="header">
    <p class="name">{{ data['appointee-title'] }} {{ data['appointee-name'] }}</p>
    <p class="nino">{{ data['appointee-national-insurance'] }}&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;{{ data['appointee-dob'] }}</p>
    <a href="#relationships" class="relationships-tab">&nbsp;</a>
  </div>
  <div class="background">
    <div class="result-template">
      <div class="personal-details">
        <p class="name">{{ data['appointee-title'] }} {{ data['appointee-name'] }}</p>
        <p class="dob">{{ data['appointee-dob'] }}</p>
        <p class="nino">{{ data['appointee-national-insurance'] }}</p>
        <p class="gender">{{ data['appointee-gender'] }}</p>
      </div>
      <div class="address">
        <p class="correspondence-line-1">{{ data['appointee-correspondence-line-1'] }}</p>
        <p class="correspondence-line-2">{{ data['appointee-correspondence-line-2'] }}</p>
        <p class="correspondence-line-3">{{ data['appointee-correspondence-line-3'] }}</p>
        <p class="correspondence-postcode">{{ data['appointee-correspondence-postcode'] }}</p>
        <p class="correspondence-country">{{ data['appointee-correspondence-country'] }}</p>
        <p class="residential-line-1">{{ data['appointee-residential-line-1'] }}</p>
        <p class="residential-line-2">{{ data['appointee-residential-line-2'] }}</p>
        <p class="residential-line-3">{{ data['appointee-residential-line-3'] }}</p>
        <p class="residential-postcode">{{ data['appointee-residential-postcode'] }}</p>
        <p class="residential-country">{{ data['appointee-residential-country'] }}</p>
      </div>
      <div class="personal-details">
        <p class="number-mobile">{{ data['appointee-number-mobile'] }}</p>
        <p class="number-home">{{ data['appointee-number-home'] }}</p>
      </div>
      <div id="relationships" class="relationships-box">&nbsp;</div>
      
      <div class="relationship-information">
        <p class="start">Start date</p>
        <p class="rel">Relationship</p>
        <hr />
        <p class="date">{{ data['relationship-decision-date'] or '[Decision date]' }}</p>
        <p class="app"><strong>Appointee</strong> for <strong>{{ data['customer-title'] or '[Customer title]' }} {{ data['customer-name'] or '[Customer name]' }}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="/appointee/iteration-{{ data['iteration-number'] }}/searchlight/customer/proposed">View account</a></p>
        <p class="status-inverse"><img src="/public/images/exclamation.png" style="width: 15px;"> Proposed</p>
        <!-- p class="maintenance"><a href="#nogo">View maintenance</a></p>
        <p class="change"><a href="#nogo">Change</a></p -->
        <form class="form" method="post" novalidate>
          <a href="#" class="appointee-link" onclick="this.closest('form').submit();return false;">Change</a>
        </form>
      </div>
      <p class="housekeeping"><a href="/appointee/iteration-{{ data['iteration-number'] }}/">Home</a> / <a href="javascript:history.go(-1)">Back</a></p>
    </div>
  </div>

{% endblock %}
