
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Add an appointee
        <br /><strong class="govuk-tag govuk-tag--green">Green Zone</strong>
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body"><a href="/appointee/iteration-12/">Iteration 12</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-11/">Iteration 11</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-10/">Iteration 10</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-9/">Iteration 9</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-8/">Iteration 8</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-7/">Iteration 7</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-6/">Iteration 6</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-5/">Iteration 5</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-4/">Iteration 4</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-3/">Iteration 3</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-2/">Iteration 2</a></li>
        <li class="govuk-body"><a href="/appointee/iteration-1/">Iteration 1</a></li>
      </ul>

      <p class="govuk-body"><a href="/appointee/mvp/">MVP</a></p>
      <p class="govuk-body"><a href="/appointee/fit-for-live/">Fit For Live</a></p>

      <p><a href="/appointee/ur/">User research</a></p>

    </div>
  </div>

{% endblock %}
