
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cannot find a record for this person</h1>
    <ul class="govuk-list">
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Name: </span>{{ data['appointee-name'] }}
      </li>
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Date of birth: </span>{{ data['appointee-dob'] }}
      </li>
      <li>
        <span class="govuk-body govuk-!-font-weight-bold">Postcode: </span>{{ data['appointee-address-postcode'] }}
      </li>
    </ul>
  </div>
</div>

{% endblock %}
