
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Searchlight
{% endblock %}

{% block content %}

  <div class="newheader">
    <p class="name">Dr Reece Riley</p>
    <p class="nino">SG866942C&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;22 July 1965</p>
    <a href="#relationships" class="relationships-tab">&nbsp;</a>
    <a href="/appointee/fit-for-live" class="searchlight-tab">&nbsp;</a>
    <div class="search">
      <input class="govuk-input" id="event-name" name="event-name" type="text">
      <form class="form" method="post" novalidate>
        <a href="/appointee/searchlight/" class="search-button" onclick="this.closest('form').submit();return false;">&nbsp;</a>
      </form>
    </div>
  </div>
  <div class="newbackground">
    <div class="result">
      <div class="personal-details">
        <p class="name">Dr Reece Riley</p>
        <p class="dob">22 July 1965</p>
        <p class="nino">SG866942C</p>
        <p class="gender">Male</p>
      </div>
      <div class="address">
        <p class="correspondence-line-1">89 Woodrow Avenue</p>
        <p class="correspondence-line-2">Hayes</p>
        <p class="correspondence-line-3">Middlesex</p>
        <p class="correspondence-postcode">UB4 8QR</p>
      </div>
      <div class="personal-details">
        <p class="number-mobile">07963768345</p>
      </div>
      <div id="relationships" class="relationships-box">&nbsp;</div>
      <form class="form" method="post" novalidate>
        <a href="#" class="appointee-link" onclick="this.closest('form').submit();return false;">Add an appointee</a>
      </form>
    </div>
  </div>

{% endblock %}
