
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Searchlight
{% endblock %}

{% block content %}

  <div class="newheader">
    <p class="name">Dr Edwina Williams</p>
    <p class="nino">SG866745C&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;22 July 1975</p>
    <a href="#relationships" class="relationships-tab">&nbsp;</a>
    <a href="/appointee/fit-for-live" class="searchlight-tab">&nbsp;</a>
    <div class="search">
      <input class="govuk-input" id="event-name" name="event-name" type="text">
      <form class="form" method="post" novalidate>
        <a href="/appointee/searchlight/" class="search-button" onclick="this.closest('form').submit();return false;">&nbsp;</a>
      </form>
    </div>
  </div>
  <div class="newbackground">
    <div class="result">
      <div class="personal-details">
        <p class="name">Dr Edwina Williams</p>
        <p class="dob">22 July 1975</p>
        <p class="nino">SG866745C</p>
        <p class="gender">Female</p>
      </div>
      <div class="address">
        <p class="correspondence-line-1">71 Garden Close</p>
        <p class="correspondence-line-2">Luton</p>
        <p class="correspondence-line-3">Buckinghamshire</p>
        <p class="correspondence-postcode">LU7 2FX</p>
      </div>
      <div class="personal-details">
        <p class="number-mobile">07763768387</p>
      </div>
      <div id="relationships" class="relationships-box">&nbsp;</div>
      <form class="form" method="post" novalidate>
        <a href="#" class="appointee-link" onclick="this.closest('form').submit();return false;">Add an appointee</a>
      </form>
    </div>
  </div>

{% endblock %}
